#formular {
  top: 10%;
  left: 35%;
  right: 35%;
  width: 30%;
  align-items: center;
  background-color: #c9dcff;
}

#buton {
  background-color: #91b7fc;
  margin-bottom: 5%;
}

#username {
  padding-top: 10%;
}
