.meniu1 {
  display: flex;
  width: 100%;
}

.buton1 {
  width: 100%;
  background-color: #91b7fc;
}


#home {
  background-color: #91b7fc;
}

#posts {
  background-color: #91b7fc;
}

#login {
  background-color: #91b7fc;
}

#register {
  background-color: #91b7fc;
}

#admin_dashboard {
  background-color: #91b7fc;
}

#logout {
  background-color: #91b7fc;
}


